#logo {
    width: 20vw;
}

.nav-link {
    color: #aaaaaa;
    font-size: 1.5vw;
}

.nav-link:hover, .nav-link:active, .nav-link.current {
    color: #ffffff !important;
}

.nav-item, .nav-item > a.active {
    background-color: rgba(0, 0, 0, 0.75) !important;
    border: none;
    border-radius: 2vw;
    margin-right: 0.5vw;
    margin-bottom: 0.5vw;
}

*:after,
*:before {
    box-sizing: border-box;
}

.nav {
    margin-top: 2vw;
}

.row-x {
    width: 100vw;
}

.wrapper {
    margin: 0;
    padding: 0;
}

label > input {
    visibility: hidden;
    position: absolute;
}

label > input + img {
    cursor: pointer;
    border: 2px solid transparent;
}

label > input:checked + img {
    filter: brightness(0);
}

.card-header span {
    color: #ffffff;
    font-size: 3vw;
}


.scrolling {
    overflow: auto;
}

.scrolling::-webkit-scrollbar {
    width: 0;
}

a {
    text-decoration: none;
}


[aria-label] {
    position: relative;
}

[aria-label]:after {
    content: attr(aria-label);
    display: none;
    position: absolute;
    top: 110%;
    left: 10px;
    z-index: 2;
    padding: 1vw;
    line-height: 2vw;
    white-space: nowrap;
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.75);
    border-radius: 2vw;
    font-size: 1.5vw;
}

[aria-label]:before {
    content: " ";
    display: none;
    position: absolute;
    z-index: 3;
    top: 66%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent black transparent;
}

[aria-label]:hover:after, [aria-label]:hover:before {
    display: block;
}

.account-header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 4vw;
    background-color: rgba(0, 0, 0, 0.75);
    border-radius: 5vw;
    margin-top: 1vw;
}

input[type=checkbox], input[type=radio] {
    transform: scale(2);
    filter: invert(100%) hue-rotate(18deg) brightness(1.7);
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

@media (max-width: 800px) {
    input[type=checkbox], input[type=radio] {
        transform: scale(1.5);
    }
}

@media (max-width: 500px) {
    input[type=checkbox], input[type=radio] {
        transform: scale(1);
    }
}

.account-img {
    width: 6vw;
}

.img-wrapper {
    margin-top: 0;
    margin-bottom: 0;
}

.acc-card {
    margin-top: 1vw;
}

.acc-header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 3vw;
    background-color: rgba(0, 0, 0, 0.75);
    border-radius: 5vw 5vw 0 0;
    margin-top: 1vw;
}

.acc-body {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 1.9vw;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 0 0 5vw 5vw;
    padding-bottom: 2vw;

}

#acc-info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 0.5vw;
    padding-right: 0.5vw;
}

.learning {
    color: #ffff00;
}

.learned {
    color: #00ff00;
}


.acc-body-header {
    font-size: 2.5vw;
    background-color: rgba(0, 0, 0, 0.65);
    width: 50%;
    border-top: 2px solid white;
    display: flex;
    justify-content: center;
}

.semi-header {
    font-size: 2.2vw;
    border-bottom: 2px solid white;
    border-top: 2px solid white;
    width: 100%;
}

.acc-img {
    width: 4vw;
}

#stat-info {
    display: flex;
    flex-wrap: wrap;
    /*height: auto !important;*/
}

.header-2 {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

.acc-content {
    width: 50%;
    font-size: 1.9vw;
}


.lb {
    border-left: 2px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bb {
    border-bottom: 2px solid white;
}

.new {
    color: #0000ff;
}

.forgot {
    color: #ff0000;
}

.repeat {
    color: #00ff00;
}

.solved {
    color: orange;
}

.header-2-wrap {
    display: flex;
    width: 100%;
}

#modal-content-site {
    background-color: rgba(0, 0, 0, 0.75);
    border-radius: 2rem;
}

#modal-content-site a {
    color: #aaaaaa;
}

#modal-content-site a:hover {
    color: #ffffff;
}

#siteInfoHeader {
    background-color: rgba(130, 130, 130, 0.75);
    border-radius: 2rem 2rem 0 0;
    border: none;
}

#logo-modal {
    width: 75%;
}

#closeSiteInfo {
    width: 2.5rem !important;
    margin-left: 0.3rem !important;
}

.message-img {
    width: 3rem;
    margin-right: 1rem;
    filter: contrast(0);
}

.account-img:hover {
    filter: contrast(10);
}

.hidden-form {
    display: none;
}

#moderator-div {
    position: absolute;
    right: 1vw;
    bottom: 1vh
}

#moderator-img {
    width: 5vw;
}

#moderator-div[aria-label]:after {
    left: -15vw;
    top: -5vw;
}

#wcaCompetitionsHeader {
    font-size: 2rem;
    text-align: center;
}

#closeWcaCompetitions {
    width: 2.5rem !important;
    margin-left: 0.3rem !important;
    filter: contrast(0);
}


#closeWcaCompetitionsDiv:hover #closeWcaCompetitions {
    filter: contrast(10);
}

.wcaCompetition-img {
    width: 2.5rem;
}

.wcaCompetition-img-wrapper {
    text-align: center;
    margin-bottom: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

#wca-img-wrapper:after {
    left: 6rem;
}

#loading-img {
    width: 10rem;
}

.forbid {
    font-size: 1.5rem;
    color: red;
}